/*@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/BebasNeue-webfont.woff') format('woff'),
    url('fonts/BebasNeue-webfont.ttf') format('truetype'),
    url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

/* CSS reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, th, var {
    font-style: normal;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/* General Demo Style */
body {
    font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    font-weight: 400;
    font-size: 15px;
    color: #1d3c41;
    overflow-y: scroll;
}
.body-lyg{
    overflow-y: hidden !important;
}
a {
    color: #333;
    text-decoration: none;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    background: url(../image/background-img.png);
}

.clr {
    clear: both;
}

.container > header {
    padding: 20px 30px 10px 30px;
    margin: 0px 20px 10px 20px;
    position: relative;
    display: block;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.container > header h1 {
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    line-height: 35px;
    position: relative;
    font-weight: 400;
    color: rgba(26, 89, 120, 0.9);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    padding: 0px 0px 5px 0px;
}

.container > header h1 span {
    color: #7cbcd6;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
}

.container > header h2 {
    font-size: 16px;
    font-style: italic;
    color: #2d6277;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
}

.head-bg {
    width: 100%;
    background: url(../image/bg_head.png) repeat top left;
}

/* Header Style */
.codrops-top {
    width: 1024px;
    height: 87px;
    margin: 0 auto;
}

/*.title-img {
    width: 540px;
    height: 100%;
}*/

.codrops-top a {
    padding: 0px 10px;
    letter-spacing: 1px;
    color: #333;
    text-shadow: 0px 1px 1px #fff;
    display: block;
    float: left;
}

.codrops-top a:hover {
    background: #fff;
}

.codrops-top span.right {
    float: right;
}

.codrops-top span.right a {
    float: left;
    display: block;
}

.codrops-demos {
    text-align: center;
    display: block;
    padding: 14px;
}

.codrops-demos span {
    display: inline-block;
    padding-right: 15px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}

.codrops-demos a,
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
    display: inline-block;
    font-style: italic;
    font-size: 12px;
    padding: 3px 5px;
    margin: 0px 3px;
    font-weight: 800;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05) inset;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.codrops-demos a:hover {
    background: #4fa2c4;
}

.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
    color: rgba(104, 171, 194, 1);
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.login-user {
    z-index: -1;
    position: absolute;
}

.register-div {
    text-align: right;
    padding-top: 25px;
}

.title-img-div {
    width: 540px;
    float: left;
    margin-top: 12px;
}
.zn-font-class{
    font-size: 35px;
    font-weight: 900;
    text-align: left;
    font-family: -webkit-body;
}
.en-font-class{
    font-weight: bold;
    font-size: 16px;
    text-align: left;
}
.login-logo-class{
    width: 50px;
    float: left;
    margin-top: 20px;
    margin-right: 10px;
}

.login-input {
    font-size: 17px;
    color: #999999;
    padding: 0 10px;
    z-index: 999;
    height: 40px;
    border: 0px solid;
    width: 260px;
    margin-top: 6px;
    margin-left: 52px;
    border-left: 1px solid #e0e0e0;
}

.div-m {
    margin-top: 15px;
}

.change_link {
    cursor: pointer;
    float: right;
    margin-top: 22px;
    margin-bottom: 3px;
    color: #099ce5;
}

.login-icon {
    margin-top: 5px;
    margin-left: -16px;
    position: absolute
}

.footer {
    height: 87px;
    background: url(../image/bg_foot_03.png) repeat top left;
    position: relative;
}

.body-style {
    padding-top: 125px;
    width: 1024px;
    margin: 0 auto;
}

.head-img {
    height: 87px;
    margin: 0 auto;
}

.foot-div {
    text-align: center;
    padding: 32px 0;
    line-height: 16px;
}

.foot-img {
    margin-top: -2px;
    position: absolute;
    margin-left: -24px;
}

.computer {
    padding-right: 18px;
    width: 34%;
    float: left;
}

.bg-register {
    width: 25.2%;
    float: left;
    margin-top: -22px;
}

.main-contain {
    width: 100%;
    height: 735px;
    background: #fff url(../image/bg_main_02.png) repeat top left;
}

.register {
    margin-right: 80px;
    height: 45px;
}

.register-button {
    width: 87px;
    height: 36px;
    background: white;
    border: 1px solid #099ce5;
    font-size: 15px;
    cursor: pointer;
    color: #099ce5;
}
.eror{
    margin-top: 23px;
    text-align: left;
    color: red;
}
/*连云港*/
.login-bg{
    background-size:cover;
    background: url(../image/lyg-bg.png) no-repeat;
    height:100%;
    width:100%;
    overflow: hidden;
    position: absolute;
}
.lyg-header{
    background: url(../image/lyg-header.png);
    height: 94px;
    width: 679px;
}
.foot-div-lyg {
    text-align: center;
    padding: 32px 0;
    line-height: 16px;
    position: absolute;
    width: 100%;
    margin-top: 45%;
    color: white;
}
@media only screen and (min-width: 1359px) and (max-width: 1365px) {
    :root {
        --标题TOP: 80px;
        --标题ZOOM: 0.7;
        --输入框TOP: 200px;
        --输入框ZOOM: 0.7;
        --版权TOP: 42%;
    }
}
@media only screen and (min-width: 1365px) and (max-width: 1399px) {
    :root {
        --标题TOP: 80px;
        --标题ZOOM: 0.75;
        --输入框TOP: 200px;
        --输入框ZOOM: 0.75;
        --版权TOP: 41%;
    }
}
@media only screen and (min-width: 1399px) and (max-width: 1439px) {
    :root {
        --标题TOP: 100px;
        --标题ZOOM: 1;
        --输入框TOP: 245px;
        --输入框ZOOM: 1;
        --版权TOP: 60%;
    }
}
@media only screen and (min-width: 1439px) and (max-width: 1599px) {
    :root {
        --标题TOP: 110px;
        --标题ZOOM: 0.8;
        --输入框TOP: 245px;
        --输入框ZOOM: 0.8;
        --版权TOP: 48%;
    }
}
@media only screen and (min-width: 1599px) and (max-width: 1679px) {
    :root {
        --标题TOP: 110px;
        --标题ZOOM: 0.8;
        --输入框TOP: 245px;
        --输入框ZOOM: 0.8;
        --版权TOP: 43%;
    }
}
@media only screen and (min-width: 1679px) and (max-width: 1918px) {
    :root {
        --标题TOP: 110px;
        --标题ZOOM: 0.9;
        --输入框TOP: 275px;
        --输入框ZOOM: 0.9;
        --版权TOP: 50%;
    }
}
@media only screen and (min-width: 1920px) {
    :root {
        --标题TOP: 95px;
        --标题ZOOM: 1;
        --输入框TOP: 245px;
        --输入框ZOOM: 1;
        --版权TOP: 45%;
    }
}

.title-img-div-lyg {
    top: var(--标题TOP);
    width: 100%;
    text-align: center;
    position: absolute;
    zoom: var(--标题ZOOM);
}
.container-input {
    top: var(--输入框TOP);
    text-align: center;
    width: 100%;
    position: absolute;
    zoom: var(--输入框ZOOM);
}
.foot-div-lyg {
    text-align: center;
    padding: 32px 0;
    line-height: 16px;
    position: absolute;
    width: 100%;
    margin-top: var(--版权TOP);
    color: white;
}

.login-icon-lyg {
    margin-top: 2px;
    margin-left: -16px;
    position: absolute
}
.login-user-lyg {
    z-index: -1;
    position: absolute;
}
.div-m-lyg {
    margin-top: 25px;
}
.login-input-lyg {
    font-size: 17px;
    color: #999999;
    padding: 0 10px;
    z-index: 999;
    height: 40px;
    border: 0px solid;
    width: 365px;
    background-color: #F6F6F6;
    margin-top: 6px;
    margin-left: 52px;
}
.change-link-lyg {
    cursor: pointer;
    float: right;
    margin-top: 25px;
    margin-bottom: 3px;
    color: #099ce5;
}
.lyg-title-logo{
    zoom: 0.1;
    float: left;
}
.zn-font-class-lyg{
    font-size: 40px;
    font-weight: 900;
    text-align: left;
    font-family: -webkit-body;
    line-height: 88px;
    height: 88px;
    color: white;
    margin-left: 33%;
}