html,
body {
  font-family: "Microsoft YaHei";
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  background: rgba(63, 103, 191, 1);
  height: 100%;
  background: url(../image/login_bg.jpg) 50% 0 no-repeat;
  background-size: cover;
}

.login {
  position: relative;
  height: 100%;
  width: 950px;
  margin: auto;
}

.banner {
  position: absolute;
  width: 100%;
  min-height: 280px;
  top: 30%;
  background: rgba(255, 255, 255, 0.2);
  /* padding: 40px */
}

.form {
  position: absolute;
  top: 28%;
  right: 50px;
  width: 280px;
  background: #fff;
  height: auto;
  padding-bottom: 25px;
}

.login-form {
  padding: 20px;
}

.login-form>* {
  margin-top: 30px;
}

.login-form>button {
  margin-top: 20px;
}

.login-btn {
  width: 100%
}

.logo {
  position: absolute;
  top: 10%;
  left: 6%;
}

.intro {
  font-family: "Microsoft YaHei";
  font-size: 15px;
  color: #FFFFFF;
  letter-spacing: 1.14px;
  line-height: 25px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.50);
  width: 500px;
  height: 66px;
  position: absolute;
  top: 65%;
  left: 7%;
}

.eror {
  margin-top: 15px;
  text-align: left;
  color: red;
}

.login_title {
  text-align: center;
  color: #666;
}

.item {
  position: relative;
}

.item i {
  position: absolute;
  left: 0;
  top: 10px;
}

.item input {
  margin-left: 20px;
  width: 90%;
}